# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Env
.env
.env.*
!.env.example

# Vite
dist
.vite
.cache

# Editors/OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
.vercel
/.tmp.driveupload/
/.tmp.driveupload/
/.tmp.driveupload/
/.tmp.driveupload/
